---
layout: default
title: Nuestro Blog
---
<div id="main" class="container-fluid">
    {% include nav.html %}
    <div class="container my-3">
        <!-- Contenido -->
        <h1 class="mb-3">{{ page.title }}</h1>
        <div class="row justify-content-center">
            {% for post in site.posts %}
            <div class="col-md-3">
                {% include card_post.html post=post %}
            </div>
            {% endfor %}
            {% if site.posts.size == 0 %}
                <div class="col-md-auto">No posee un post publicado</div>
            {% endif %}
        </div>
    </div>
</div>
<div class="footer container-fluid">
    <div class="row px-5">
        <div class="col-12 col-sm-4 mb-4 mb-sm-0">
            <a class="mb-2 d-block" href="#">Términos y condiciones</a>
            <a class="mb-2 d-block" href="#">Politicas de privacidad</a>
        </div>
        <div class="col-12 col-sm-4 text-left text-sm-center mb-4 mb-sm-0">
            The Panic Room © 2019.
        </div>
        <div class="col-12 col-sm-4 text-left text-sm-right">
            <a class="mb-2 d-block" href="#">Sobre nosotros</a>
        </div>
    </div>
</div>