---
layout: default
title: Equipo
---
<div id="main" class="container-fluid">
    {% include nav.html %}
    <div class="container my-3">
        <!-- Contenido -->
        <h1 class="mb-3">{{ page.title }}</h1>
        {{ site.teams }}
        <div class="row justify-content-center">
            {% for team in site.teams %}
                <div class="col-md-4 my-3">
                    {% include card_people.html person=team %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include footer.html %}