---
layout: default
title: Inicio
keywords:
    - the panic room
    - panic room
    - tpanicroom
    - developer
    - desarrolladores
    - equipo
    - web
    - angular
    - react
    - vue
scripts:
    - /assets/js/utils.js
---
<div id="main" class="container-fluid m-0 p-0">
    <div class="container-fluid hero-imagen hero-cover1">
        {% include nav.html %}
        <div class="row hero hero-container justify-content-center justify-content-lg-start">
            <div class="col-12 col-sm-8 col-md-8 col-lg-5 col-xl-4 text-center text-lg-left">
                <h1 class="py-2 py-md-4">
                    Contratanos y haremos crecer tu negocio.
                </h1>
                <p class="hero-text" itemprop="description">
                    Ofrecemos servicios enfocados en tus necesidades respaldados por nuestra evaluaci&oacute;n de calidad.
                </p>
                <a href="{{ site.baseurl }}{% link contact.html %}" class="btn-custom btn btn-main link my-2 my-md-4 btn-block">
                    Contáctanos
                </a>
            </div>
        </div>
    </div>
    <section class="section-container bg-magenta">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 text-center text-lg-right separator border-white mb-4 mb-lg-0"><h2>Lorem ipsum dolor sit amet</h2></div>
                <div class="col-md-6 font-marked text-center text-lg-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, facilis. Accusamus obcaecati quos, minima et</div>
            </div>
        </div>
    </section>
    <section class="section-container bg-metro">
        <h2 class="display-3 text-center mb-5">Lorem ipsum dolor sit amet consectetur</h2>
        <div class="row justify-content-center">
            <!-- begin:card -->
            <div class="col-12 col-md-3 mb-3 card py-4 mx-2">
                <div class="card-img-top py-3">
                    <span class="tpr-icon tpr-icon-lg tpr-design"></span>
                </div>
                <div class="card-body">
                    <span class="h3 card-title mb-3">Lorem ipsum dolor sit</span>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias assumenda, vitae itaque, nobis aliquid minus excepturi doloribus quisquam, natus deserunt magni corrupti nesciunt omnis pariatur. Porro nisi repellendus deleniti possimus?</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn-link">
                        Ver detalle
                    </a>
                </div>
            </div>
            <!-- end:card -->
            <!-- begin:card -->
            <div class="col-12 col-md-3 mb-3 card py-4 mx-2">
                <div class="card-img-top py-3">
                    <span class="tpr-icon tpr-icon-lg tpr-software"></span>
                </div>
                <div class="card-body">
                    <span class="h3 card-title mb-3">Lorem ipsum dolor sit</span>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias assumenda, vitae itaque, nobis aliquid minus excepturi doloribus quisquam, natus deserunt magni corrupti nesciunt omnis pariatur. Porro nisi repellendus deleniti possimus?</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn-link">
                        Ver detalle
                    </a>
                </div>
            </div>
            <!-- end:card -->
            <!-- begin:card -->
            <div class="col-12 col-md-3 mb-3 card py-4 mx-2">
                <div class="card-img-top py-3">
                    <span class="tpr-icon tpr-icon-lg tpr-cpu"></span>
                </div>
                <div class="card-body">
                    <span class="h3 card-title mb-3">Lorem ipsum dolor sit</span>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias assumenda, vitae itaque, nobis aliquid minus excepturi doloribus quisquam, natus deserunt magni corrupti nesciunt omnis pariatur. Porro nisi repellendus deleniti possimus?</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn-link">
                        Ver detalle
                    </a>
                </div>
            </div>
            <!-- end:card -->
        </div>
    </section>
    <section class="section-container bg-black">
        <h2 class="display-4 text-center mb-5">Lorem ipsum dolor sit amet consectetur</h2>
        <div class="row justify-content-center">
            <div class="col-auto">
                <span class="tpr-icon tpr-icon-xl tpr-cpu fill-white mb-3 mb-lg-0"></span>
            </div>
            <div class="col-md-6 text-center text-lg-left">
                <p class="blockquote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam perferendis error atque iure facilis odit, dolorem nulla a accusantium totam nesciunt veritatis blanditiis cumque amet sapiente animi quas eveniet voluptatem.</p>
                <p class="blockquote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam perferendis error atque iure facilis odit, dolorem nulla a accusantium totam nesciunt veritatis blanditiis cumque amet sapiente animi quas eveniet voluptatem.</p>
            </div>
        </div>
    </section>
    <section class="section-container bg-purple">
        <h2 class="display-4 text-center mb-5">Lorem ipsum dolor sit amet consectetur</h2>
        <div class="row justify-content-center">
            <div class="col-auto">
                <span class="tpr-icon tpr-icon-xl tpr-idea fill-white mb-3 mb-lg-0"></span>
            </div>
            <div class="col-md-6 text-center text-lg-left">
                <p class="blockquote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam perferendis error atque iure facilis odit, dolorem nulla a accusantium totam nesciunt veritatis blanditiis cumque amet sapiente animi quas eveniet voluptatem.</p>
                <p class="blockquote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam perferendis error atque iure facilis odit, dolorem nulla a accusantium totam nesciunt veritatis blanditiis cumque amet sapiente animi quas eveniet voluptatem.</p>
            </div>
        </div>
    </section>
    <section class="section-container bg-lila">
        <div class="container">
            <h2 class="display-4 text-center mb-5">Lorem ipsum dolor sit amet consectetur</h2>
            <p class="blockquote text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam perferendis error atque iure facilis odit, dolorem nulla a accusantium totam nesciunt veritatis blanditiis cumque amet sapiente animi quas eveniet voluptatem.</p>
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-4">
                    <a href="{{ site.baseurl }}{% link contact.html %}" class="btn-custom btn-outline btn link my-2 my-md-4 btn-block">
                        Contáctanos
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
{% include footer.html %}