---
layout: default
title: Inicio
keywords:
    - the panic room
    - panic room
    - tpanicroom
    - developer
    - desarrolladores
    - equipo
    - web
    - angular
    - react
    - vue
---
<div id="main" class="container-fluid m-0 p-0">
    <div class="container-fluid hero-imagen hero-cover1">
        {% include nav.html %}
        <div class="row hero hero-container justify-content-center justify-content-lg-start">
            <div class="col-12 col-sm-8 col-md-8 col-lg-5 col-xl-4 text-center text-lg-left">
                <h1 class="py-2 py-md-4">
                    Contratanos y haremos crecer tu negocio.
                </h1>
                <p class="hero-text" itemprop="description">
                    Ofrecemos servicios enfocados en tus necesidades respaldados por nuestra evaluaci&oacute;n de calidad.
                </p>
                <a href="{{ site.baseurl }}{% link contact.html %}" class="btn-custom btn btn-main link my-2 my-md-4 btn-block">
                    Contáctanos
                </a>
            </div>
        </div>
    </div>
    <section class="section-container bg-magenta">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-4 text-center text-lg-right border-white mb-4 mb-md-0"><h2>¿Quienes somos?</h2></div>
                <div class="col-md-8 font-marked separator text-justify">En The Panic Room somos una empresa con gran capacidad de cambio, que desarrolla productos y servicios de gran innovación, con el fin de crear productos únicos y competitivos en el mercado.</div>
            </div>
        </div>
    </section>
    {% comment %}
    <section class="section-container bg-metro">
        <h2 class="display-3 text-center mb-5">Lorem ipsum dolor sit amet consectetur</h2>
        <div class="row justify-content-center">
            <!-- begin:card -->
            <div class="col-12 col-md-3 mb-3 card py-4 mx-2">
                <div class="card-img-top py-3">
                    <span class="tpr-icon tpr-icon-lg tpr-design"></span>
                </div>
                <div class="card-body">
                    <span class="h3 card-title mb-3">Lorem ipsum dolor sit</span>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias assumenda, vitae itaque, nobis aliquid minus excepturi doloribus quisquam, natus deserunt magni corrupti nesciunt omnis pariatur. Porro nisi repellendus deleniti possimus?</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn-link">
                        Ver detalle
                    </a>
                </div>
            </div>
            <!-- end:card -->
            <!-- begin:card -->
            <div class="col-12 col-md-3 mb-3 card py-4 mx-2">
                <div class="card-img-top py-3">
                    <span class="tpr-icon tpr-icon-lg tpr-software"></span>
                </div>
                <div class="card-body">
                    <span class="h3 card-title mb-3">Lorem ipsum dolor sit</span>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias assumenda, vitae itaque, nobis aliquid minus excepturi doloribus quisquam, natus deserunt magni corrupti nesciunt omnis pariatur. Porro nisi repellendus deleniti possimus?</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn-link">
                        Ver detalle
                    </a>
                </div>
            </div>
            <!-- end:card -->
            <!-- begin:card -->
            <div class="col-12 col-md-3 mb-3 card py-4 mx-2">
                <div class="card-img-top py-3">
                    <span class="tpr-icon tpr-icon-lg tpr-cpu"></span>
                </div>
                <div class="card-body">
                    <span class="h3 card-title mb-3">Lorem ipsum dolor sit</span>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias assumenda, vitae itaque, nobis aliquid minus excepturi doloribus quisquam, natus deserunt magni corrupti nesciunt omnis pariatur. Porro nisi repellendus deleniti possimus?</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn-link">
                        Ver detalle
                    </a>
                </div>
            </div>
            <!-- end:card -->
        </div>
    </section>
    {% endcomment %}
    <section class="section-container bg-black">
        <h2 class="display-4 text-center mb-5">¿Qué hacemos?</h2>
        <div class="row justify-content-center">
            <div class="col-auto">
                <span class="tpr-icon tpr-icon-xl tpr-developers fill-white mb-3 mb-lg-0"></span>
            </div>
            <div class="col-md-6 text-justify">
                <p class="blockquote">Somos una comunidad apasionada por la tecnología con amplio abanico de conocimientos relacionados con el desarrollo de Hardware y Software, que busca crear con el aprendizaje continuo, nuevos procesos que surjan de las ideas de nuestros clientes.</p>
                <p class="blockquote">Nuestro personal tiene formación superior en ingeniería en informática, marketing y electrónica altamente cualificado que tiene capacidad, motivación, ilusión e interés por seguir formándose y nos adaptamos a los cambios que surjan con la innovación.</p>
            </div>
        </div>
    </section>
    <section class="section-container bg-purple">
        <h2 class="display-4 text-center mb-5">¿Que ofrecemos?</h2>
        <div class="row justify-content-center">
            <div class="col-auto">
                <span class="tpr-icon tpr-icon-xl tpr-idea stroke-white mb-3 mb-lg-0"></span>
            </div>
            <div class="col-md-6 text-justify">
                <p class="blockquote">Garantizamos mejorar tu metodología de trabajo para optimizar la productividad de tu negocio y realizar tu transformación digital.</p>
                <p class="blockquote">Son tiempos de cambio y constante evolución tecnológica, por ésta razón buscamos ayudarte a innovar y desarrollar la mejor solución alineados a la visión y estrategia de tu negocio.</p>
            </div>
        </div>
    </section>
    <section class="section-container bg-lila">
        <div class="container">
            <h2 class="display-4 text-center mb-5">No importa donde te encuentres</h2>
            <h4 class="display-5 text-center mb-5">Estamos a un solo clic de distancia</h4>
            <p class="blockquote text-center">Utilizamos diferentes herramientas colaborativas para ejecutar los proyectos que requieras para tu negocio.</p>
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-4">
                    <a href="{{ site.baseurl }}{% link contact.html %}" class="btn-custom btn-outline btn link my-2 my-md-4 btn-block">
                        Contáctanos
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
{% include footer.html %}