---
layout: default
title: Inicio
keywords:
    - the panic room
    - panic room
    - tpanicroom
    - developer
    - desarrolladores
    - equipo
    - web
    - angular
    - react
    - vue
scripts:
    - /assets/js/utils.js
landing:
    image: hero-cover1
---
<div id="main" class="container-fluid m-0 p-0">
    <div class="container-fluid hero-imagen {{ page.landing.image }}">
        {% include nav.html %}
        <div class="row hero hero-container">
            <div class="col-12 col-sm-6 col-lg-3">
                <h1 class="py-2 py-md-4">
                    Contratanos y haremos crecer tu negocio.
                </h1>
                <p class="hero-text" itemprop="description">
                    Ofrecemos servicios enfocados en tus necesidades respaldados por nuestra evaluaci&oacute;n de calidad.
                </p>
                <a href="#contacto" class="btn-custom btn btn-main link my-2 my-md-4 btn-block">
                    Contáctanos
                </a>
            </div>
        </div>
    </div>
    <!-- Contenido -->
    <div id="info" class="container my-3">
        <h2>Nuestros servicios</h2>
        <div id="info" class="d-flex flex-column flex-md-row justify-content-center  align-items-md-stretch px-1 px-sm-3  px-md-0 py-3 border-bottom border-secondary flex-nowrap">
        	<p>Lorem ipsu dolor</p>
        </div>
    </div>
</div>
{% include footer.html %}
