---
layout: default
title: Servicios
keywords:
    - the panic room
    - panic room
    - tpanicroom
    - developer
    - desarrolladores
    - equipo
    - web
    - angular
    - react
    - vue
scripts:
    - /assets/js/utils.js
landing:
    image: hero-cover1
---
<div id="main" class="container-fluid m-0 p-0">
    <div class="container-fluid hero-imagen hero-cover1">
        {% include nav.html %}
        <div class="row hero hero-container justify-content-center justify-content-lg-start">
            <div class="col-12 col-sm-8 col-md-8 col-lg-5 col-xl-4 text-center text-lg-left">
                <h1 class="py-2 py-md-4">
                    Tu éxito es nuestra mayor motivación.
                </h1>
                <p class="hero-text" itemprop="description">
                    Somos una comunidad que te ofrece soluciones tecnológicas con freelancers certificados enfocados en la necesidad de tu proyecto de negocio.
                </p>
                <a href="{{ site.baseurl }}{% link contact.html %}" class="btn-custom btn btn-main link my-2 my-md-4 btn-block">
                    Contáctanos
                </a>
            </div>
        </div>
    </div>
    <section class="section-container bg-purple">
        <h2 class="display-4 text-center mb-5">¿Cómo funciona?</h2>
        <div class="row justify-content-center">
            <div class="col-auto">
                <span class="tpr-icon tpr-icon-xl tpr-work fill-white mb-3 mb-lg-0"></span>
            </div>
            <div class="col-md-6 text-center text-lg-left">
                <p class="blockquote">La construcción de tu proyecto y crecimiento de tu negocio es importante para nosotros. Te ofrecemos propuestas de excelentes freelancers para plasmar tus ideas de negocio.</p>
                <p class="blockquote">Nuestras decisiones están enfocadas en el éxito de tu negocio y por ello te conectamos con excelentes freelancers, respaldados por nuestra comunidad.</p>
            </div>
        </div>
    </section>
    <section class="section-container bg-metro">
        <div class="container">
            <h2 class="display-4 text-center mb-5">Contrata freelancers sin riesgos.</h2>
            <div class="card mb-3 p-5">
              <div class="row no-gutters align-items-center">
                <div class="col-md-2">
                    <span class="tpr-icon tpr-icon-lg tpr-check stroke-black"></span>
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <p class="card-text">Evaluamos los riesgos que puedan afectar al proyecto que deseas para tu negocio y garantizamos la entrega puntual del producto.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3 p-5">
              <div class="row no-gutters align-items-center">
                <div class="col-md-2">
                    <span class="tpr-icon tpr-icon-lg tpr-money stroke-black"></span>
                </div>
                <div class="col-md-10">
                  <div class="card-body">
                    <p class="card-text">Estudiamos el costo beneficio del proyecto a fin de reducir su tiempo de ejecución y asegurar el incremento de ganancias para tu negocio.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
    <section class="section-container bg-lila">
        <div class="container">
            <h2 class="display-4 text-center mb-5">No importa donde te encuentres</h2>
            <h4 class="display-5 text-center mb-5">Estamos a un solo clic de distancia</h4>
            <p class="blockquote text-center">Utilizamos tecnologías híbridas y nativas basándonos en las necesidades de tu negocio.</p>
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-4">
                    <a href="{{ site.baseurl }}{% link contact.html %}" class="btn-custom btn-outline btn link my-2 my-md-4 btn-block">
                        Contáctanos
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
{% include footer.html %}