<div class="card py-4">
    <div class="py-3">
    <img src="{{ include.post.cover }}" class="rounded-circle" alt="{{ include.post.title }}" width="128" height="128">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ include.post.title }}</h5>
        <p class="card-text"><small class="text-muted">Posteado el {{ include.post.date | date: "%Y-%m-%d %H:%M" }}</small></p>
        <p class="card-text">{{ include.post.summary }}</p>
        <a href="{{ include.post.url }}" class="btn btn-primary stretched-link">Ver  detalles</a>
    </div>
</div>