<div class="card py-4">
    <div class="py-3">
    <img src="{{ include.person.cover }}" class="rounded-circle" alt="{{ include.person.name }}" width="128" height="128">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ include.person.name }}</h5>
        <p class="card-text">{{ include.person.position }}</p>
        <p class="card-text"><small class="text-muted">{{ include.person.summary }}</small></p>
    </div>
    <div class="card-footer">
        {% if include.person.linkedin %}
            <a href="{{ include.person.linkedin }}" class="btn btn-primary stretched-link" target="_blank">Ver  detalles</a>
        {% endif %}
    </div>
</div>