<div class="card pb-4">
	<div class="card-img-top py-3">
        <img src="{{ include.post.cover | prepend: site.baseurl }}" alt="{{ include.post.title }}" class="card-cover">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ include.post.title }}</h5>
        <p class="card-text"><small class="text-muted">Posteado el {{ include.post.date | date: "%Y-%m-%d %H:%M" }}</small></p>
        <p class="card-text">{{ include.post.summary }}</p>
        <a href="{{ include.post.url | prepend: site.baseurl }}" class="btn btn-primary stretched-link">Ver  detalles</a>
    </div>
</div>