<div class="footer container-fluid">
    <div class="d-flex flex-column flex-sm-row justify-content-end align-items-center flex-nowrap">
        <div class="col-sm-12 col-md-auto col-lg-8">
            <form action="">
                <div class="row justify-content-center align-items-center mb-3">
                    <div class="col-auto my-1">
                        <h3 class="text-left ml-3 d-inline">Suscribete</h3>
                    </div>
                    <div class="col-sm-4 my-1">
                        <input class="w-100" type="email" id="mail" placeholder="tucorreo@correo.com">
                    </div>
                    <div class="col-sm-4 my-1">
                        <button type="submit" class="btn-custom btn btn-main btn-block link">
                            Suscribirse
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex flex-column flex-sm-row px-5 justify-content-center align-items-end text-center flex-sm-wrap flex-md-nowrap">
        <div class="col-12 col-sm-6 col-md-4 mb-0 text-center order-0 mb-sm-4">
            <ul>
                <li><a href="{{ site.baseurl }}{% link term.md %}">Términos y condiciones</a></li>
                <li><a href="{{ site.baseurl }}{% link privacity.md %}">Politicas de privacidad</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-5 text-center mb-4 mb-sm-0 mb-md-4 order-2 order-md-1">
            The Panic Room © 2019. Todos los derechos reservados.
        </div>
        <div class="col-12 col-sm-6 col-md-4 text-center order-1 order-md-2 mb-4">
            <ul>
                <li><a href="{{ site.baseurl }}{% link blog.html %}">Blog</a></li>
                <li><a href="{{ site.baseurl }}{% link developers.html %}">Desarrolladores</a></li>
            </ul>
            
            <!-- <a class="mb-2 d-block" href="#">Sobre nosotros</a> -->
            
        </div>
    </div>
</div>