<div class="footer container-fluid">
    <div class="row px-5">
        <div class="col-12 col-sm-4 mb-4 mb-sm-0">
            <a class="mb-2 d-block" href="#">Términos y condiciones</a>
            <a class="mb-2 d-block" href="#">Politicas de privacidad</a>
        </div>
        <div class="col-12 col-sm-4 text-left text-sm-center mb-4 mb-sm-0">
            The Panic Room © 2019.
        </div>
        <div class="col-12 col-sm-4 text-left text-sm-right">
            <a class="mb-2 d-block" href="{% link blog.html %}">Blog</a>
            <a class="mb-2 d-block" href="#">Sobre nosotros</a>
            <a class="mb-2 d-block" href="{% link developers.html %}">Desarrolladores</a>
        </div>
    </div>
</div>