<meta property="og:url" content="{{ '/' | absolute_url }}" />
<meta property="og:image"
    content="{{'/assets/images/the%20panic%20room%20full%20stack%20developers.png' | prepend: site.baseurl | absolute_url }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta name="author" content="{{ site.authors | join: ', ' }}" />
<meta name="description"
    content="{{ site.description }}" />
<meta name="keywords"
    content="{{ page.keywords | join: ', ' }}" />
<meta name="twitter:image"
    content="{{'/assets/images/the%20panic%20room%20full%20stack%20developers.png' | prepend: site.baseurl }}" />
<meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }} - {{ site.short_description }}" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }} - {{ site.short_description }}" />
<meta name="twitter:description"
    content="{{ site.description }}" />
<meta name="theme-color" content="rgb(0,0,0)" />
<link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/favicon/16.png' | prepend: site.baseurl }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/favicon/32.png' //| prepend: site.baseurl }}" />
<link rel="apple-touch-icon" href="{{'/assets/favicon/180.png' | prepend: site.baseurl }}" />
<link rel="icon" type="image/png" sizes="180x180" href="{{'/assets/favicon/180.png' | prepend: site.baseurl }}" />
<link rel="icon" type="image/png" sizes="192x192" href="{{'/assets/favicon/192.png' | prepend: site.baseurl }}" />
<link rel="icon" type="image/png" sizes="512x512" href="{{'/assets/images/splahs.png' | prepend: site.baseurl }}" />