/* buttons */
.btn-custom {
    font-size: 0.7rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.btn-small {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.btn-outline {
    border-color: white;
}

.btn-primary {
    background: #9b4dca !important;
    border: none !important
}
.btn-link {
    padding: 1rem 3rem;
    background: none;
    border: 1px solid white;
    transition: 0.5s;
}

.btn-main {
    border: none;
    background-size: 150% auto;
    background-image: linear-gradient(to right, map-get($gradient-button, low-color), map-get($gradient-button, medium-color), map-get($gradient-button, high-color));
}

.btn-main:hover {
    background-size: 200% auto;
    background-image: linear-gradient(to right, map-get($gradient-button-hover, low-color), map-get($gradient-button-hover, medium-color), map-get($gradient-button-hover, high-color));
}

.btn-social {
    line-height: 3.3em ;
}

.btn-tg:hover {
    background: rgba(30, 75, 117, 0.438);
}

.btn-ws:hover {
    background: rgba(38, 138, 91, 0.281) ;
}

.btn-yl:hover {
    background: rgba(138, 127, 38, 0.28);
}
.btn-rd:hover {
    background: rgba(138, 47, 38, 0.28);
}

.btn-icon {
    height: 1em;
    width: auto;
    padding-right: 1em;
}

.btn-touch {
    height: 50px;
    display: inline-block;
    margin: 8px;
}

.link {
    color: white
}

.link:hover {
    text-decoration: none;
    color: white;
}

.social-logo {
    height: 50px;
    width: auto;
}

.btn-spacin{
  padding-bottom: 1rem;

}

.btn_full{
  width: 100%;
}
.ico_email{
  padding-right: 1.5em;
}

@include tablet-down {
    .btn-control {
        display: block;
        width: 100%;
    }
    .btn-custom {
        font-size: 1rem;
    }
    .social-content{
      margin-right: 0.5em;
    }
}

@include mobile-only {
  .social-content{
    margin-right: 0em;
  }
}
