/* cards */
.card, .media {
    background: rgb(24, 24, 26);
}

.card {
    text-align: center
}

.card-title {
    color: #9b4dca
}

.card-footer, .card-header {
	background-color: transparent;
	border: none;
}
