
@each $align in left, right, top, bottom {
	.border-#{$align}-white {
		border-#{$align}-color: white !important;
	}
}

@each $color, $value in $tpr-colors {
	.bg-#{$color} {
		background-color: $value !important;
		@debug index($tpr-dark-colors, $color);
		@if index($tpr-dark-colors, $color) {
			color: white;
		}
	}
	.text-#{$color} {
		color: $value !important;
	}
}
