$bg-color: #ededed;// #202020;
$text-color: black;
$font-family: 'Cabin', 'sans-serif';

$text-size: (
	desktop: 14px,
	mobile: 13px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

/* header */
$border-line-link: .1rem;

$link-color: #e465f9;

$gradient-button: (
	low-color: #9b4dca 0%,
	medium-color: rgb(78, 69, 197) 51%,
	high-color: rgb(41, 125, 194) 100%
);

$gradient-button-hover: (
	low-color: #c334d6 0%,
	medium-color: #9b4dca 20%,
	high-color: rgb(78, 69, 197) 50%
);

$tpr-colors: (
	'magenta': #a62d59,
	'green': #52a1a2,
	'gray': #606060,
	'purple': #2f243e,
	'black': #202020,
	'blue': #a1b8fe,
	'orange': #ec614e,
	'metro': #ededed,
	'lila': #8B4DFF
);

$tpr-dark-colors: ('magenta', 'green', 'gray', 'purple', 'black', 'orange', 'lila');

$tpr-icon-color: map-get($tpr-colors, 'magenta');