$bg-color: #202020;
$text-color: white;
$font-family: 'Cabin', 'sans-serif';

$text-size: (
	desktop: 14px,
	mobile: 13px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

/* header */
$border-line-link: .1rem;

$link-color: #9b4dca;

$gradient-button: (
	low-color: #9b4dca 0%,
	medium-color: rgb(78, 69, 197) 51%,
	high-color: rgb(41, 125, 194) 100%
);

$gradient-button-hover: (
	low-color: #c334d6 0%,
	medium-color: #9b4dca 20%,
	high-color: rgb(78, 69, 197) 50%
);

$message-color: #acabab;
