.hero-wrapper {
    height: 85%;
    display: flex;
    align-content: center
}

.hero {
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
}

.hero-text{
    color: white
 }

.hero-container {
	font-size: 1.25rem;
}


.hero-imagen {
    min-height: 750px;
    width: 100%;
    color: white;
}

.hero-cover1 {
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    @supports (background-image: url('../images/bg.webp')) {
        background-image: url('../images/bg.webp');
    }
}

.section-container {
    margin: 0 !important;
    padding: 100px 1rem;
    position: relative;
    @extend .font-base;
    .separator {
        border-left: 3px solid;
    }
    @include tablet-down {
        .separator {
            border: none;
        }
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

@include mobile-small {
    .hero-cover1 {
        background-position: 29% center;
    }
    // .hero-imagen{
    //     width: auto;
    //     background: linear-gradient(#000, rgba(0, 0, 0, 0.897), transparent), url('../images/bg-mobile.webp') no-repeat center; 
    //     background-size: auto auto;
    // }
    .hero-imagen.auto-size {
        height: 300px;
    }
    .hero-footer h1, .hero-footer h2 {
        font-size: 1.4rem;
    }
}

@include mobile-only {
    .hero-wrapper {
        align-content: start;
    }
    .hero {
        position: initial;
        padding-left:  3em;
        padding-right:  1em;
    }
    // .hero-imagen {
    //       width: auto;
    //     background-repeat: no-repeat;
    //     background-image: url('../images/bg-mobile.webp');
    //     background-position: bottom center;
    //     /* background-size: 100% auto; */
    //     background-size: contain;
    // }
    .hero-imagen.auto-size {
        height: 370px;
    }
}

@include tablet-down {
    .hero-imagen {
        min-height: 540px;
        background-size: cover !important;
    }

    .hero-cover1 {
        background-image: linear-gradient(#000, rgba(0, 0, 0, 0.897), transparent), url('../images/bg-mobile.png');
        @supports (background-image: url('../images/bg-mobile.webp')) {
            background-image: linear-gradient(#000, rgba(0, 0, 0, 0.897), transparent), url('../images/bg-mobile.webp');
        }
    }
    .hero {
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
