.hero-wrapper{
    height: 85%;
    display: flex;
    align-content: center
}

.hero {
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
}

.hero-text {
    color: #d9d9d9;
}

.hero-imagen {
    height: 750px;
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.hero-cover1 {
	background-image: url('../images/bg.webp');
}

.hero-container {
	font-size: 1.25rem;
}