html {
    scroll-behavior:smooth;
}

body {
    margin: 0;
    background-color: $bg-color;
    color: $text-color;
    font-family: $font-family;
    // max-width: 1600px;
    // margin-left: auto;
    // margin-right: auto;
    font-size: map-get($text-size, desktop);
}
@include tablet-down {
	html, body {
    	font-size: map-get($text-size, mobile);
	}
}