
html {
    scroll-behavior:smooth;
}

body {
    margin: 0;
    background-color: #202020;
    color: white;
    font-family: 'Cabin', sans-serif !important;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.index{
  font-size: 1.2em;
}

@media (max-width: 699px) {
  .item-footer {
      margin-bottom: 1rem;
      font-size: 1.1em;
  }
  .footer{
    padding: 32px 0px;
  }
}
