
html {
    scroll-behavior:smooth;
}

body {
    margin: 0;
    background-color: #202020;
    color: white;
    font-family: 'Cabin', sans-serif !important;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
