.container-page {
    font-size: 1.25rem;
    line-height: 2.15;
    text-align: justify;
}
.container-page h1, .container-page h2, .container-page h3, .container-page strong {
    color: #f4f4f4;
}
.container-page h1, .container-page h2, .container-page h3 {
    margin-bottom: 1.3rem;
}

.container-page, .breadcrumb {
    background-color: #171717;
    color: #aab1b7;
}
.breadcrumb .breadcrumb-item a{
    color: #9b4dca;
}
.breadcrumb .breadcrumb-item.active{
    color: #aab1b7;
}
.hero-imagen {
    width: 100%;
    position: relative;
    background-size: 100% 100% !important;
}
.hero-text{
  font-size: 1.2em;
}
.hero-imagen.cover nav#nav {
    background-image: linear-gradient(to bottom, #1a1a1aed 0%, rgba(0, 0, 0, 0) 100%);
}
.hero-imagen.cover nav#nav.active {
    background-image: linear-gradient(to top, #000000ed 0%, #000c 100%);
}
.hero-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to top, #000 0%, rgba(0,0,0,.3) 100%);
}
.hero-footer, .hero-footer h1 {
    font-weight: bold;
    text-align: right;
}
nav#nav {
    z-index: 10000;
}

.icon-horizontal {
  margin: auto;
  width: 100%;
}
