---
layout: default
title: Desarrollo de software
keywords:
    - the panic room
    - panic room
    - tpanicroom
    - developer
    - desarrolladores
    - equipo
    - web
    - angular
    - react
    - vue
scripts:
    - /assets/js/utils.js
landing:
    image: hero-cover1
---
<div id="main" class="container-fluid m-0 p-0">
    <div class="container-fluid hero-imagen hero-cover1">
        {% include nav.html %}
        <div class="row hero hero-container justify-content-center justify-content-lg-start">
            <div class="col-12 col-sm-8 col-md-8 col-lg-5 col-xl-4 text-center text-lg-left">
                <h1 class="py-2 py-md-4">
                    Contratanos y haremos crecer tu negocio.
                </h1>
                <p class="hero-text" itemprop="description">
                    Ofrecemos servicios enfocados en tus necesidades respaldados por nuestra evaluaci&oacute;n de calidad.
                </p>
                <a href="{{ site.baseurl }}{% link contact.html %}" class="btn-custom btn btn-main link my-2 my-md-4 btn-block">
                    Contáctanos
                </a>
            </div>
        </div>
    </div>
    <!-- Contenido -->
    <div id="info" class="container-fluid my-3 text-center">
    	<h2 class="display-4 mt-5 mb-3">Navegar por la web nunca ha sido tan facil</h2>
    	<h4 class="mb-5">Un buen diseño de tu sitio web te garantiza una mayor competitividad</h4>
    	<div class="row justify-content-center">
    		<div class="card py-4 col-12 col-md-2 mb-3 mx-0 mx-md-1 mx-lg-3">
    			<div class="py-3">
            <img class="icon-horizontal" src="{{ '/assets/images/host.svg' | prepend: site.baseurl }}" alt="..." width="200" height="125">
          </div>
    			<div class="card-body">
                    <h5 class="card-title">Escalabilidad</h5>
                    <p class="card-text">Nuestros diseños estan pensado para adaptarse a todas las resoluciones de pantalla estandar.</p>
                </div>
    		</div>

    		<div class="card py-4 col-12 col-md-2 mb-3 mx-0 mx-md-1 mx-lg-3">
    			<div class="py-3">
                    <img class="icon-horizontal"  src="{{ '/assets/images/redundancia.svg' | prepend: site.baseurl }}" alt="..." width="200" height="125">
                </div>
    			<div class="card-body">
                    <h5 class="card-title">Robustez</h5>
                    <p class="card-text">Una fuente puede describir mucho de tu web para ello seleccionamos las mejores fuentes que se adapten a su modelo de negocio.</p>
                </div>
    		</div>

    		<div class="card py-4 col-12 col-md-2 mb-3 mx-0 mx-md-1 mx-lg-3">
    			<div class="py-3">
                    <img class="icon-horizontal"  src="{{ '/assets/images/rendimiento.svg' | prepend: site.baseurl }}" alt="..." width="200" height="125">
                </div>
    			<div class="card-body">
                    <h5 class="card-title">Performance</h5>
                    <p class="card-text">Todos nuestros diseños estan pensados en el menor uso de recursos informáticos sin afectar los aspectos visuales</p>
                </div>
    		</div>

            <div class="card py-4 col-12 col-md-2 mb-3 mx-0 mx-md-1 mx-lg-3">
                <div class="py-3">
                    <img class="icon-horizontal"  src="{{ '/assets/images/seguridad.svg' | prepend: site.baseurl }}" alt="..." width="200" height="125">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Seguridad</h5>
                    <p class="card-text">Todos nuestros diseños estan pensados en el menor uso de recursos informáticos sin afectar los aspectos visuales</p>
                </div>
            </div>
    	</div>
    	<p class="text-white lead mt-3">Analizamos las necesidades de los clientes como objetivos para configurar tu sitio web para ofrecer la mejor experiencia de usuario.</p>
    </div>
    <div class="container my-3 text-center">
    	<h2 class="display-4 mt-5 mb-3">Nuestros servicios incluidos</h2>
    	<h4 class="mb-5">Lorem ipsu dolor amen</h4>
    	<p class="lead">Lorem ipsu dolor ammen dolor ipsu lorem ammen.</p>
    	<div class="media p-5 my-4 text-justify">
		  <img class="icon-service" src="{{ '/assets/images/request.svg' | prepend: site.baseurl }}" class="mr-4" alt="..." width="120" height="120">
		  <div class="media-body">
		    <h5 class="card-title mt-0">Analisis de usuario</h5>
		    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		  </div>
		</div>
		<div class="media p-5 my-4 text-justify">
		  <img src="{{ '/assets/images/wireframe.svg' | prepend: site.baseurl }}" class="mr-4" alt="..." width="120" height="120">
		  <div class="media-body">
		    <h5 class="card-title mt-0">Wireframing</h5>
		    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		  </div>
		</div>
		<div class="media p-5 my-4 text-justify">
		  <img src="{{ '/assets/images/prototype.svg' | prepend: site.baseurl }}" class="mr-4" alt="..." width="120" height="120">
		  <div class="media-body">
		    <h5 class="card-title mt-0">Prototipado</h5>
		    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		  </div>
		</div>
		<div class="media p-5 my-4 text-justify">
		  <img src="{{ '/assets/images/mark.svg' | prepend: site.baseurl }}" class="mr-4" alt="..." width="120" height="120">
		  <div class="media-body">
		    <h5 class="card-title mt-0">Maquetación</h5>
		    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
		  </div>
		</div>
    </div>
    </div>
    <div class="container my-3 text-center">
    	<h2 class="display-4 mt-5 mb-3">Invierte en tu pagina web con nosotros</h2>
    	<p class="lead">Contratanos y te ofrecemos el servicio de diseño web dentro de nuestros paquetes para emprendedores.</p>
    	<div class="row justify-content-center align-items-center">
    		<div class="col-md-4">
    			<a href="{{ site.baseurl }}{% link contact.html %}" class="btn-custom btn btn-main link my-2 my-md-4 btn-block">
                    Contáctanos
                </a>
    		</div>
    	</div>
    </div>
</div>
{% include footer.html %}
