---
layout: default
title: Desarrollo de software
keywords:
    - the panic room
    - panic room
    - tpanicroom
    - developer
    - desarrolladores
    - equipo
    - web
    - angular
    - react
    - vue
scripts:
    - /assets/js/utils.js
landing:
    image: hero-cover1
---
<div id="main" class="container-fluid m-0 p-0">
    <div class="container-fluid hero-imagen hero-cover1">
        {% include nav.html %}
        <div class="row hero hero-container justify-content-center justify-content-lg-start">
            <div class="col-12 col-sm-8 col-md-8 col-lg-5 col-xl-4 text-center text-lg-left">
                <h1 class="py-2 py-md-4">
                    ¿Estas emprendiendo y no tienes un software?
                </h1>
                <p class="hero-text" itemprop="description">
                    En the panic room contamos con profesionales en desarrollo de software para ponerlos a tu disposición.
                </p>
                <a href="{{ site.baseurl }}{% link contact.html %}" class="btn-custom btn btn-main link my-2 my-md-4 btn-block">
                    Contáctanos
                </a>
            </div>
        </div>
    </div>
    <!-- Contenido -->
    <div class="container my-3 text-center">
    	<h2 class="display-4 mt-5 mb-3">¿Qué ofrecemos?</h2>
    	<div class="media p-5 my-4 text-justify align-items-center">
		  <img src="{{ '/assets/images/check.svg' | prepend: site.baseurl }}" class="mr-4" alt="..." width="120" height="120">
		  <div class="media-body text-white font-long">
		    En The Panic Room aseguramos la calidad de nuestros servicios durante todo el ciclo del desarrollo, desde su creación.
		  </div>
		</div>
		<div class="media p-5 my-4 text-justify align-items-center">
		  <img src="{{ '/assets/images/host.svg' | prepend: site.baseurl }}" class="mr-4" alt="..." width="120" height="120">
		  <div class="media-body text-white font-long">
		    Somos expertos en ofrecer soluciones escalables. ¿Quieres miles de usuarios y miles de transacciones? Claro que sí, podemos expandir todas tus líneas de negocio.
		  </div>
		</div>
		<div class="media p-5 my-4 text-justify align-items-center">
		  <img src="{{ '/assets/images/work.svg' | prepend: site.baseurl }}" class="mr-4" alt="..." width="120" height="120">
		  <div class="media-body text-white font-long">
		    Tomamos en cuenta la salud del software a lo largo de todas las etapas de su ciclo de vida, porque la fiabilidad es la integridad y consistencia, incluso en condiciones de alta carga.
		  </div>
		</div>
		<div class="media p-5 my-4 text-justify align-items-center">
		  <img src="{{ '/assets/images/rendimiento.svg' | prepend: site.baseurl }}" class="mr-4" alt="..." width="120" height="120">
		  <div class="media-body text-white font-long">
		    La eficiencia es nuestra prioridad, es por ello que te brindamos una aplicación que utilice la menor cantidad de recursos del sistema para una mejor fluidez.
		  </div>
		</div>
        <div class="media p-5 my-4 text-justify align-items-center">
          <img src="{{ '/assets/images/seguridad.svg' | prepend: site.baseurl }}" class="mr-4" alt="..." width="120" height="120">
          <div class="media-body text-white font-long">
            La seguridad de tu negocio es importante para nosotros. Por tal razón, te garantizamos que solo las personas autorizadas previamente por ti tendrán acceso a la aplicación.
          </div>
        </div>
    </div>
    </div>
    <div class="container my-3 text-center">
    	<h2 class="display-4 mt-5 mb-3">Automatiza tu emprendimiento</h2>
    	<p class="lead">Es de vital importancia la automatización de procesos en tu negocio. Con ello ahorrarás tiempo en la gestión de los datos y tendrás mayor capacidad de percibir ingresos.</p>
    	<div class="row justify-content-center align-items-center">
    		<div class="col-md-4">
    			<a href="{{ site.baseurl }}{% link contact.html %}" class="btn-custom btn btn-main link my-2 my-md-4 btn-block">
                    Contáctanos
                </a>
    		</div>
    	</div>
    </div>
</div>
{% include footer.html %}
