---
sitemap:
  exclude: 'yes'
---
@import "config";
@import "mixins";

.tpr-icon {
	display: inline-block;
	& svg {
		width: 24px;
		width: 24px;
		& path {
			fill: none;
			stroke: none;
		}
	}
	/* sizes */
	&-lg svg {
		width: 115px;
		height: 115px;
	}
	&-xl svg {
		width: 250px;
		height: 250px;
	}
	&.fill-white path {
		fill: white;
	}
	&.fill-black path {
		fill: black;
	}
	&.stroke-white path {
		stroke: white;
	}
	&.stroke-black path {
		stroke: black;
	}
}
