---
sitemap:
  exclude: 'yes'
---
@import "config";
@import "mixins";
@import "reset";
@import "buttons";
@import "forms";
@import "utils";
@import "header";
@import "hero";
@import "card";


.logo { max-height: 50px; width: auto; }

.navbar-toggler {border-color: rgb(255, 255, 255); }
.navbar-toggler:focus { outline: none; }
.line {
    display: block;
    background: white;
    height: 2px;
    width: 20px;
    margin: 5px auto;
}

/* footer */
.footer {
    background: rgb(20, 20, 20);
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer ul {
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}
.footer ul li {
    // float: left;
    // display: inline-block;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    list-style: none;
}
.footer a { color: $link-color !important; }

.cookie-consent {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #1c1c1c;
    .close {
        color: white;
        font-size: 2rem;
        margin-top: -1rem;
        margin-right: -1rem;
        @include tablet-down {
            & {
                font-size: 3rem;
            }
        }
    }
    .message {
        text-align: center;
        font-size: 1rem;
    }
}
