@import url('https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap');

html {
    scroll-behavior:smooth;
}

body {
    margin: 0;
    background: rgb(0, 0, 0);
    color: white;
    font-family: 'Cabin', sans-serif !important;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

/* buttons */
.btn-custom {
    font-size: 0.7rem !important;
    font-weight: 700 !important;
    height: 40px;
    letter-spacing: .1rem;
    padding: 0 24px !important;
    text-transform: uppercase;
    border-color: white;
    color: white;
}

.btn-primary { 
    background: #9b4dca !important;
    border: none !important 
}

.btn-link {
    padding: 1rem 3rem;
    background: none;
    border: 1px solid white;
    transition: 0.5s;
}

.btn-main {
    border: none;
    background-size: 150% auto;
    background-image: linear-gradient(to right, #9b4dca 0%, rgb(78, 69, 197) 51%, rgb(41, 125, 194) 100%);
}

.btn-main:hover {
    background-size: 200% auto;
    background-image: linear-gradient(to right, #c334d6 0%, #9b4dca 20%, rgb(78, 69, 197) 50%);
}

.btn-social { 
    line-height: 3.3em ;
}

.btn-tg:hover {
    background: rgba(30, 75, 117, 0.438);
}

.btn-ws:hover { 
    background: rgba(38, 138, 91, 0.281) ;
}

.btn-icon {
    height: 1em;
    width: auto;
    padding-right: 1em;
}

.link {
    color: white
}

.link:hover {
    text-decoration: none;
    color: white;
}


/* forms */
label { 
    color: rgb(153, 153, 153);
    font-weight: 600;
    display: block;
}

input, textarea {
    border: solid 2px rgb(153, 153, 153);
    background: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: white
}
input:focus, textarea:focus { border-color: #9b4dca; outline: none }


/* navbar */
.navbar {
    padding-top: 2em;
    margin-bottom: 1em;
    color: white;
    display: flex;
    justify-content: space-between;
}
.logo { max-height: 50px; width: auto }

.navbar-toggler {border-color: rgb(255, 255, 255) }
.navbar-toggler:focus { outline: none }
.line {
    display: block;
    background: white;
    height: 2px;
    width: 20px;
    margin: 5px auto;
}

/* main section */
.hero {
    position: relative;
    top: 5%;
    left: 10%;
}

.hero-imagen {
    height: 750px;
    width: auto;
    background-image: url('../images/bg.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.hero-text {
    color: rgb(153, 153, 153);
}

/* cards */
.card {
    background: rgb(24, 24, 26);
    text-align: center
}
.card-title {
    color: #9b4dca
}

/* footer */
.footer {
    background: rgb(20, 20, 20);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.footer a { color: #9b4dca !important; }

@media only screen and (max-width: 1098px){
    .hero {
        left: 5%;
    }
    .hero-imagen{
        background: linear-gradient(90deg, #000, rgba(0, 0, 0, 0.733), transparent), url('../images/bg.png'); 
        background-position: center right;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
}

@media only screen and (max-width: 574px){
    .hero {
        position: initial;
        padding-left:  3em;
        padding-right:  1em;
    }
    .hero-imagen{
          width: auto;
        background-repeat: no-repeat;
        background-image: url('../images/bg-mobile.png');
        background-position: bottom center;
        /* background-size: 100% auto; */
        background-size: contain;
    }
}

 @media only screen and (max-width: 375px){
     .hero-text{
         color: white
     }
    .hero-imagen{
        width: auto;
        background: linear-gradient(#000, rgba(0, 0, 0, 0.897), transparent), url('../images/bg-mobile.png') no-repeat center; 
        background-size: auto auto;
    }
}