body{
    margin: 0;
    background: black;
    color: white
}

input, textarea{
    color: white
}

/* navbar */
.navbar{
    padding-top: 2em;
    margin-bottom: 1em;
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav-items{ float: right }
.logo{
    max-height: 50px;
    width: auto;
}

/* footer */
.footer{
    background: rgb(20, 20, 20);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* main page */
.hero{
    background: black;
    min-height: 450px;
    color: white;
}

.hero-text{ color: rgb(153, 153, 153); }
.hero-video{
    width: 100%;
    max-height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.hero-interaction{
    position: absolute;
    width: 150px;
    max-height: auto;
    top: 300px;
    left: 60px;
}

.bounce{
  display:block;
  animation: 4s infinite alternate floating;
}

.shadow{
  height:2px;
  display:block;
  margin:5px auto;
  animation: 4s infinite alternate shadow;
}

@keyframes floating {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* info section */
.info{
    font-size: 0.9em;
    margin-bottom: 2em;
    border-top: solid 1px rgb(20, 20, 20);
    color: rgb(153, 153, 153)
}
.info-column{
    width: 20em;
    margin-left: auto;
    margin-right: auto;
}
.info-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: rgb(20, 20, 20);
    border-radius: 50%;
    display: block;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
.info-title{ color: #9b4dca; }

/* button */
.btn{
    color: white;
    border-radius: .4rem;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3.0rem;
    text-transform: uppercase;
}

.btn-link{
    padding: 1rem 3rem;
    background: none;
    border: 1px solid white;
    transition: 0.5s;
}

.btn-primary {
    border: none;
    background-size: 150% auto;
    background-image: linear-gradient(to right, #9b4dca 0%, rgb(78, 69, 197) 51%, rgb(41, 125, 194) 100%);
}

.btn-tg:hover{
    background: rgba(30, 75, 117, 0.438);
    /* border: 1px solid rgb(30, 75, 117); */
    color: white;
}

.btn-ws:hover{
    background: rgba(38, 138, 91, 0.281);
    /* border: 1px solid rgb(43, 109, 78); */
    color: white;
}

.btn-gm:hover{
    background: rgba(206, 60, 60, 0.288);
    /* border: 1px solid rgb(122, 38, 38); */
    color: white;
}

.btn-icon{
    height: 1em;
    width: auto;
    padding-right: 1em;
}

/* forms */
.form-wrap{
    width: 50%
}

.icon-white{
    fill: white
}

/* text */
.text-right{ text-align: right }
.text-center{ text-align: center }

/* padding top */
.pt-1{ padding-top: 1em }
.pt-2{ padding-top: 2em }
.pt-3{ padding-top: 3em }
.pt-4{ padding-top: 4em }

/* padding bottom */
.pb-1{ padding-bottom: 1em }
.pb-2{ padding-bottom: 2em }
.pb-3{ padding-bottom: 3em }
.pb-4{ padding-bottom: 4em }

/* padding left */
.pl-1{ padding-left: 1em }
.pl-2{ padding-left: 2em }
.pl-3{ padding-left: 3em }
.pl-4{ padding-left: 4em }

/* padding right */
.pr-1{ padding-right: 1em }
.pr-2{ padding-right: 2em }
.pr-3{ padding-right: 3em }
.pr-4{ padding-right: 4em }

/* padding vertical */
.py-1{ padding-top: 1em; padding-bottom: 1em }
.py-2{ padding-top: 2em; padding-bottom: 2em }
.py-3{ padding-top: 3em; padding-bottom: 3em }
.py-4{ padding-top: 4em; padding-bottom: 4em }

/* padding horizontal */
.px-1{ padding-left: 1em; padding-right: 1em }
.px-2{ padding-left: 2em; padding-right: 2em }
.px-3{ padding-left: 3em; padding-right: 3em }
.px-4{ padding-left: 4em; padding-right: 4em }

/* margin top */
.mt-1{ margin-top: 1em }
.mt-2{ margin-top: 2em }
.mt-3{ margin-top: 3em }
.mt-4{ margin-top: 4em }

/* margin bottom */
.mb-1{ margin-bottom: 1em }
.mb-2{ margin-bottom: 2em }
.mb-3{ margin-bottom: 3em }
.mb-4{ margin-bottom: 4em }

/* margin left */
.ml-1{ margin-left: 1em }
.ml-2{ margin-left: 2em }
.ml-3{ margin-left: 3em }
.ml-4{ margin-left: 4em }

/* margin right */
.mr-1{ margin-right: 1em }
.mr-2{ margin-right: 2em }
.mr-3{ margin-right: 3em }
.mr-4{ margin-right: 4em }

/* margin vertical */
.my-1{ margin-top: 1em; margin-bottom: 1em }
.my-2{ margin-top: 2em; margin-bottom: 2em }
.my-3{ margin-top: 3em; margin-bottom: 3em }
.my-4{ margin-top: 4em; margin-bottom: 4em }

/* margin horizontal */
.mx-1{ margin-left: 1em; margin-right: 1em }
.mx-2{ margin-left: 2em; margin-right: 2em }
.mx-3{ margin-left: 3em; margin-right: 3em }
.mx-4{ margin-left: 4em; margin-right: 4em }
.mx-auto{ margin-left: auto; margin-right: auto }

/* flex */
.d-flex{ display:flex; }
.align-center{ align-self: center; }
.align-bottom{ align-self: bottom; }

@media only screen and (max-width: 600px) {
  .nav-items{
    float: none
    }
}