<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }} - {{ site.short_description }}</title>
    {% include meta.html %}
    {% include styles.html %}
    {% include analytics.html %}
</head>
<body{% if layout.body_class %} class="{{ layout.body_class }}"{% endif %}>
    {{ content }}
    {% include scripts.html scripts=page.scripts %}
</body>
</html>