<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }} - {{ site.short_description }}</title>
    {% include meta.html %}
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="{{'/assets/css/bootstrap.min.css' | prepend: site.baseurl }}"/>
    <link rel="stylesheet" type="text/css" href="{{'/assets/css/style.css' | prepend: site.baseurl }}"/>
    <!-- <link rel="stylesheet" href="assets/css/style.min.css" /> -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147132627-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "UA-147132627-1");
    </script>
</head>

<body>
    {{ content }}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "The Panic Room",
        "url": "https://panicroom.tk",
        "address": "Venezuela, Sucre, Cúmana [6101]",
        "sameAs": [
          "https://t.me/tpanicroom",
          "https://github.com/the-panic-room",
          "https://twitter.com/tpanicroom",
          "https://www.facebook.com/tpanicroom",
          "https://www.instagram.com/tpanicroom",
          "https://www.linkedin.com/company/thepanicroom",
          "https://www.youtube.com/channel/UC-YpyV5VKGgRePyUo0AZb_A"
        ]
      }
    </script>

    <script src="{{'/assets/js/jquery-3.4.1.min.js' | prepend: site.baseurl }}"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="{{'/assets/js/popper.min.js' | prepend: site.baseurl }}"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="{{'/assets/js/bootstrap.min.js' | prepend: site.baseurl }}"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{'/assets/js/cache-polyfill.js' | prepend: site.baseurl }}"></script>

    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("{{'/assets/js/sw.js' | prepend: site.baseurl }}").then(function () {
                console.log("Service Worker Registered");
            });
        }
    </script>
</body>

</html>