---
layout: default
---
<div id="main" class="container-fluid">
    <div class="container-fluid hero-imagen">
        {% include nav.html %}
        <div id="hero" class="row">
            <div class="col-xs-12 hero">
                <div>
                    <h1 class="py-2 py-md-4">
                        ¿Tu app está en apuros?
                        <br />
                        Entra al cuarto del pánico.
                    </h1>
                    <p class="hero-text" itemprop="description">
                        Somos un equipo fullstack de desarrolladores
                        <br />
                        listos para hacer realidad tus ideas.
                    </p>
                    <a href="#contacto" class="btn-custom btn btn-main link my-2 my-md-4">
                        Contáctanos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Contenido -->
    {{ content }}
</div>
{% include footer.html %}