---
layout: default
---
<div id="main" class="container-fluid m-0 p-0">
    <div class="container-fluid hero-imagen">
        {% include nav.html %}
        <div id="hero" class="row">
            <div class="col-12 col-sm-6 col-lg-3 hero">
                <div>
                    <h1 class="py-2 py-md-4">
                        Contratanos y haremos crecer tu negocio.
                    </h1>
                    <p class="hero-text" itemprop="description">
                        Contratanos y haremos crecer tu negocio.
                    </p>
                    <a href="#contacto" class="btn-custom btn btn-main link my-2 my-md-4">
                        Contáctanos
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Contenido -->
    {{ content }}
</div>
{% include footer.html %}