---
layout: default
---
<style>
    .container-page, .breadcrumb {
        background-color: #171717;
    }
    .breadcrumb .breadcrumb-item a{
        color: #9b4dca;
    }
    .breadcrumb .breadcrumb-item.active{
        color: #aab1b7;
    }
    /* .container-page {
        min-height: 750px;
    } */
    .hero-imagen {
        position: relative;
    }
    .hero-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-image: linear-gradient(to top, #000 0%, rgba(0,0,0,.3) 100%);
    }
    .hero-footer, .hero-footer h1 {
        font-weight: bold;
        text-align: right;
    }
</style>
<div id="main" class="container-fluid">
    {% if page.cover %}
        <div class="container-fluid hero-imagen" style="background-image: url('{{ page.cover }}')">
            {% include nav.html %}
            <div class="row justify-content-end hero-footer py-5 px-3">
                <div class="col-md-6">
                    <h1>{% if page.type == 'event' %}Evento: {% endif %}{{ page.cover_title | default:page.title }}</h1>
                    <p>{{ page.summary }}</p>
                    {% if page.type == 'event' %}
                    <p>{{ page.date_init| date: "%Y-%m-%d" }}{% if page.date_end and page.date_end != page.date_init %} hasta {{ page.date_end| date: "%Y-%m-%d" }}{% endif %}</p>
                    <p>{{ page.time_init| date: "%I:%M %P" }}{% if page.time_end and page.time_end != page.time_init %} - {{ page.time_end| date: "%I:%M %P" }}{% endif %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        {% include nav.html %}
    {% endif %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% link index.html %}">Inicio</a></li>
            {% for data in page.breadscrums %}
            <li class="breadcrumb-item"><a href="{{ data.url }}">{{ data.name }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
    </nav>
    <div class="container container-page py-3 my-3 px-3">
        {{ content }}
        <hr>
        {% include person_media.html author=page.author post=page.date %}
    </div>
</div>
<div class="footer container-fluid">
    <div class="row px-5">
        <div class="col-12 col-sm-4 mb-4 mb-sm-0">
            <a class="mb-2 d-block" href="#">Términos y condiciones</a>
            <a class="mb-2 d-block" href="#">Politicas de privacidad</a>
        </div>
        <div class="col-12 col-sm-4 text-left text-sm-center mb-4 mb-sm-0">
            The Panic Room © 2019.
        </div>
        <div class="col-12 col-sm-4 text-left text-sm-right">
            <a class="mb-2 d-block" href="#">Sobre nosotros</a>
        </div>
    </div>
</div>