---
layout: default
body_class: tpr-blog
styles:
    - /assets/css/blog.css
---
{% assign author = site.teams | where: "username", page.author | first %}
<div id="main" class="container-fluid m-0 p-0">
    {% if page.cover %}
        <div class="container-fluid hero-imagen cover auto-size m-0 p-0" style="background-image: url('{{ page.cover | prepend: site.baseurl }}')">
            {% include nav.html %}
            <div class="row justify-content-end hero-footer py-2 py-sm-5 px-3 m-0">
                <div class="col-md-6">
                    <h1>{% if page.type == 'event' %}Evento: {% endif %}{{ page.cover_title | default:page.title }}</h1>
                    <p class="my-0">{{ page.summary }}</p>
                    <p class="my-0">Lugar {{ page.place }}</p>
                    {% if page.type == 'event' %}
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            {% if page.completed %}
                                    <span class="badge badge-pill badge-success">Completado</span>
                            {% endif %}
                            <i class="fas fa-calendar-alt" title="Fecha del evento"></i>
                            {{ page.date_init| date: "%Y-%m-%d" }}{% if page.date_end and page.date_end != page.date_init %} hasta
                            {{ page.date_end| date: "%Y-%m-%d" }}{% endif %}
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clock" title="Hora del evento"></i>
                            {{ page.time_init| date: "%I:%M %P" }}{% if page.time_end and page.time_end != page.time_init %} -
                            {{ page.time_end| date: "%I:%M %P" }}{% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        {% include nav.html %}
    {% endif %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb py-3">
            <li class="breadcrumb-item"><a href="{{ site.baseurl }}{% link index.html %}">Inicio</a></li>
            {% for data in page.breadscrums %}
            <li class="breadcrumb-item"><a href="{{ data.url | prepend: site.baseurl }}">{{ data.name }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
        </ol>
    </nav>
    <div class="container my-3">
        <div class="card p-5 font-base text-justify page">
            <div class="card-header">
                <h1 class="display-3">{{ page.title }}</h1>
            </div>
            <div class="card-body">
                {{ content }}
            </div>
            {% if author %}
                <div class="card-footer">
                    <div class="media">
                      <img class="mr-3" src="{{ author.cover }}" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="mt-0">{{ author.name }}</h5>
                        <time datetime="{{ page.date  | date: '%Y-%m-%d' }}">{{ page.date  | date: "%-d %B %Y" }}</time>
                      </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% include footer.html %}